.timeline {
  position: fixed;
  z-index: 100;
  cursor: pointer;
  background-color: white;
  color: black;
  transform: translateZ(0); }
  .timeline.bottom {
    padding: 0 55px;
    height: 70px;
    bottom: 0;
    right: 55px;
    left: 55px; }
  .timeline.right {
    padding: 55px 0;
    width: 70px;
    right: 0;
    top: 55px;
    bottom: 55px; }
  .timeline.left {
    padding: 55px 0;
    width: 70px;
    left: 0;
    top: 55px;
    bottom: 55px; }

.slider-inner {
  background-color: rgba(255, 0, 0, 0.1);
  position: relative;
  z-index: 0; }
  .left .slider-inner {
    right: 20px;
    height: 100%;
    border-right: 1px solid black; }
  .right .slider-inner {
    left: 20px;
    height: 100%;
    width: 50px;
    border-left: 1px solid black; }
  .bottom .slider-inner {
    top: 20px;
    width: 100%;
    border-top: 1px solid black; }

.slider-handle {
  box-sizing: border-box;
  position: absolute;
  width: 17px;
  height: 17px;
  background: gray;
  border-radius: 50%; }
  .bottom .slider-handle {
    cursor: ew-resize;
    touch-action: pan-y;
    top: -9.5px;
    margin-left: -8.5px;
    left: 0; }
  .left .slider-handle {
    cursor: ns-resize;
    touch-action: pan-x;
    right: -8.5px;
    margin-top: -8.5px;
    top: 0; }
  .right .slider-handle {
    cursor: ns-resize;
    touch-action: pan-x;
    left: -9.5px;
    margin-top: -8.5px;
    top: 0; }
  .slider-handle:before {
    z-index: -1;
    content: '';
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    background-color: white; }
    .bottom .slider-handle:before {
      margin-left: -22px;
      width: 44px;
      height: 1px; }
    .left .slider-handle:before, .right .slider-handle:before {
      margin-top: -22px;
      height: 44px;
      width: 1px; }
  .slider-handle:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); }

.slider-ruler {
  background-color: pink;
  font-size: 10px;
  letter-spacing: 2px;
  position: absolute;
  user-select: none; }
  .bottom .slider-ruler {
    left: 0;
    right: 0;
    top: 0; }
  .left .slider-ruler {
    top: 0;
    bottom: 0;
    right: 0; }
  .right .slider-ruler {
    top: 0;
    bottom: 0;
    left: 0; }
  .slider-ruler span {
    position: absolute;
    display: block; }
    .left .slider-ruler span {
      border-top: 1px solid green;
      width: 20px;
      right: 0; }
    .right .slider-ruler span {
      border-top: 1px solid green;
      width: 20px;
      left: 0; }
    .bottom .slider-ruler span {
      border-left: 1px solid green;
      height: 20px; }
    .slider-ruler span:after {
      content: attr(data-value);
      background-color: pink;
      position: absolute;
      z-index: 100;
      display: block;
      font-size: 10px;
      letter-spacing: 0;
      text-align: center;
      transition: opacity 0.2s linear, transform 0.2s linear, font-size 0.2s linear;
      opacity: 0;
      transform: translate(0, 0); }
      .bottom .slider-ruler span:after {
        left: -30px;
        width: 60px; }
      .left .slider-ruler span:after {
        margin-top: -50%;
        right: 0; }
      .right .slider-ruler span:after {
        margin-top: -50%; }
    @media (max-width: 510px) {
      .slider-ruler span:nth-child(10n+1):before, .slider-ruler span:nth-child(10n+1):after {
        opacity: 1; } }
    @media (min-width: 510px) and (max-width: 830px) {
      .slider-ruler span:nth-child(6n+1):before, .slider-ruler span:nth-child(6n+1):after {
        opacity: 1; } }
    @media (min-width: 830px) and (max-width: 1200px) {
      .slider-ruler span:nth-child(3n+1):before, .slider-ruler span:nth-child(3n+1):after {
        opacity: 1; } }
    @media (min-width: 1200px) {
      .slider-ruler span:nth-child(2n+1):before, .slider-ruler span:nth-child(2n+1):after {
        opacity: 1; } }
    .highlight-active .slider-ruler span:before, .highlight-active .slider-ruler span:after {
      opacity: 0; }
    .slider-ruler span.highlight:before, .slider-ruler span.highlight:after {
      opacity: 1; }
    .slider-ruler span.active:before {
      opacity: 0; }
    .slider-ruler span.active:after {
      opacity: 1;
      font-size: 15px; }
      .bottom .slider-ruler span.active:after {
        transform: translate(0, -50px); }
      .left .slider-ruler span.active:after {
        transform: translate(50px, 0); }
      .right .slider-ruler span.active:after {
        transform: translate(-50px, 0); }
    .slider-ruler span.sibling:before {
      opacity: 0; }
    .slider-ruler span.sibling:after {
      opacity: 0; }

.no-select, .slider-inner {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none; }

/*# sourceMappingURL=styles.css.map */
